<section class="login-section">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label for="userEmail">Enter your email:</label>
      <input
        class="text-inputs"
        type="text"
        formControlName="userEmail"
        id="userEmail"
      />
      @if (userEmail?.invalid && userEmail?.touched) {
      <div class="error-message">Enter a valid email address.</div>
      }
    </div>

    <div class="input-box">
      <label for="userPasswords"> Enter your password:</label>
      <input
        class="text-inputs"
        type="text"
        formControlName="userPassword"
        id="userPasswords"
      />
      @if (userPassword?.invalid && userPassword?.touched) {
      <div class="error-message">Password must be at least 6 characters.</div>
      }
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</section>
