<section class="login-section">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="text-inputs"
      />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <div class="error-message">Please enter a valid email.</div>
      }
    </div>

    <div class="input-box">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="text-inputs"
      />
      @if ( loginForm.get('password')?.invalid &&
      loginForm.get('password')?.touched ) {
      <div class="error-message">Password must be at least 6 characters.</div>
      }
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</section>
