<section class="register-section">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label for="userName">Enter your name</label>
      <input
        class="text-inputs"
        type="text"
        formControlName="userName"
        id="userName"
      />
      @if (userName?.invalid && userName?.touched) {
      <div class="error-message">Name must be at least 2 characters.</div>
      }
    </div>
    <div class="input-box">
      <label for="userEmail">Enter your email:</label>
      <input
        class="text-inputs"
        type="text"
        formControlName="userEmail"
        id="userEmail"
      />
      @if (userEmail?.invalid && userEmail?.touched) {
      <div class="error-message">Enter a valid email address.</div>
      }
    </div>

    <div class="input-box">
      <label for="userPasswords"> Enter your password:</label>
      <input
        class="text-inputs"
        type="text"
        formControlName="userPassword"
        id="userPasswords"
      />
      @if (userPassword?.invalid && userPassword?.touched) {
      <div class="error-message">Password must be at least 6 characters.</div>
      }
    </div>
    <div class="input-box">
      <label for="repeatPassword"> Enter your password:</label>
      <input
        class="text-inputs"
        type="text"
        formControlName="repeatPassword"
        id="repeatPassword"
      />
      @if (repeatPassword?.invalid && repeatPassword?.touched) {
      <div class="error-message">Passwords must match.</div>
      }
    </div>
    <div class="check">
      <label for="consent">I agree with conditions ...</label>
      <input type="checkbox" formControlName="consent" id="consent" />
      @if (consent?.invalid && consent?.touched) {
      <div class="error-message">You must agree to continue.</div>
      }
    </div>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
</section>
