<section class="register-section">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div class="input-box">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" class="text-inputs" />
      @if (registerForm.get('name')?.invalid &&
      registerForm.get('name')?.touched) {
      <div class="error-message">Name must be at least 2 characters.</div>
      }
    </div>

    <!-- Email -->
    <div class="input-box">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="text-inputs"
      />
      @if (registerForm.get('email')?.invalid &&
      registerForm.get('email')?.touched) {
      <div class="error-message">Please enter a valid email.</div>
      }
    </div>

    <!-- Password -->
    <div class="input-box">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="text-inputs"
      />
      @if (registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched) {
      <div class="error-message">Password must be at least 6 characters.</div>
      }
    </div>

    <!-- Repeat Password -->
    <div class="input-box">
      <label for="repeatPassword">Repeat Password</label>
      <input
        id="repeatPassword"
        type="password"
        formControlName="repeatPassword"
        class="text-inputs"
      />
      @if (registerForm.errors?.['passwordsMismatch'] &&
      registerForm.get('repeatPassword')?.touched) {
      <div class="error-message">Passwords do not match.</div>
      }
    </div>

    <!-- Consent -->
    <div class="check">
      <input type="checkbox" formControlName="consent" id="consent" />
      <label for="consent">I agree with the terms.</label>
      @if (registerForm.get('consent')?.invalid &&
      registerForm.get('consent')?.touched) {
      <div class="error-message">You must agree to proceed.</div>
      }
    </div>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
</section>
