<nav>
  <div
    class="nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a routerLink="/wellcome">WELLCOME</a>
    <div class="active-indicator"></div>
  </div>
  <div class="nav-link" routerLinkActive="active">
    <a routerLink="/actorsList">ACTORS</a>
    <div class="active-indicator"></div>
  </div>
  <div class="nav-link" routerLinkActive="active">
    <a routerLink="/actors/:id">ACTOR PROFILE</a>
    <div class="active-indicator"></div>
  </div>
</nav>
